@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Golos Text", sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: sans-serif;
}
.logo {
  display: flex;
}
.logo > h1 {
  color: var(--Text-Black, #161616);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.content-all {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 600px;
  background-color: #f4f5f8;
  height: 52px;
  flex-shrink: 0;
}
.content-row {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}
.list {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-left: -2%;
}

/* section header */

nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #fff;
}

nav ul {
  float: right;
  margin-right: 80px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
}
.activ {
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #f4f5f8;
}
nav ul li a {
  color: #4f5665;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px;
  padding: 12px 15px;
}

#check {
  display: none;
}
.checkBtn {
  color: green;
  font-size: 30px;
  line-height: 80px;
  cursor: pointer;
  float: right;
  margin-right: 50px;
  display: none;
}

.icon {
  display: flex;
  gap: 20px;
  margin-left: 8%;
}

.icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #f4f5f8;
}
.icon1 > img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.btn {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #202226;
}
/* section column */
.column {
  padding: 120px 0;
}
.column-all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;

  border-radius: 20px;
  background: #202226;
  height: 404px;
}
.column-row > h1 {
  width: 451px;
  color: white;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
.column-row > p {
  width: 451px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
input {
  background-color: #202226;
  border: none;
  outline: none;
  display: flex;
  width: 552px;
  height: 52px;
  padding-top: 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}
::placeholder {
  color: #9f9f9f;
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.all {
  width: 552px;
  height: 3px;
  background-color: #9f9f9f;
}
.btn-1 {
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
  border: none;
  margin-top: 30px;
}

/* section hammasi */

.hammasi-bottom {
  background: #f4f5f8;
}
.hammasi-bot {
  display: flex;
  padding: 30px 30px;
  gap: 10px;
}
.hammasi-bot > img {
  width: 24px;
  height: 24.002px;
  flex-shrink: 0;
}
.hammasi-bot > h1 {
  color: #161616;
  font-family: Golos;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.one {
  height: 1px;
  background-color: #9f9f9f;
}

.hammasi-all {
  display: flex;
  justify-content: space-around;
  gap: 80px;
  flex-wrap: wrap;
  background: #f4f5f8;
  padding: 40px 0;
}
.hammasi-row > h1 {
  width: 389px;
  color: #161616;
  font-feature-settings: "liga" off;
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.24px;
  margin-top: 2px;
}
.hammasi-row > h4 {
  color: #161616;
  font-feature-settings: "liga" off;
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
}

.btn-2 {
  margin-top: 20px;
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #202226;
  border: none;
  color: #fff;
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.hammasi-col {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10%;
}
.hammasi-col,
.p-1 > p {
  width: 193px;
  color: #757575;
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.hammasi-row > p {
  width: 288px;
  color: #161616;
  font-family: Golos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.6px;
}
.hammasi-row a {
  width: 288px;
  color: #161616;
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.hammasi-top {
  display: flex;
  gap: 600px;
  background: #f4f5f8;
  padding: 0 30px;
}
.hammasi-toplist > p {
  color: var(--text-gray-light-bg, #757575);
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 1231px) {
  .logo > img {
    margin-left: -150%;
  }
  .content-all {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 650px;
    background-color: #f4f5f8;
    height: 52px;
    flex-shrink: 0;
  }
  .content-row {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-left: -50%;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #fff;
  }
  .icon {
    display: flex;
    gap: 20px;
    margin-left: -5%;
  }

  .column {
    padding: 140px 0;
  }
  .column-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;

    border-radius: 20px;
    background: #202226;
    height: 504px;
  }

  /* section hammasi */

  .hammasi-bot {
    display: flex;
    padding: 30px 40px;
    gap: 10px;
  }

  .hammasi-all {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    background: #f4f5f8;
    padding: 40px 0;
  }

  .hammasi-top {
    display: flex;
    gap: 500px;
    background: #f4f5f8;
    padding: 0 30px;
  }
}

@media (max-width: 945px) {
  .logo > img {
    margin-left: 1%;
  }

  /* section hammasi */

  .hammasi-bot {
    display: flex;
    padding: 30px 60px;
    gap: 10px;
  }

  .hammasi-top {
    display: flex;
    gap: 200px;
    background: #f4f5f8;
    padding: 0 55px;
  }
}

@media (max-width: 768px) {
  .logo > img {
    margin-left: -150%;
  }
  .content-row {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }

  .hammasi-bot {
    display: flex;
    padding: 30px 30px;
    gap: 10px;
  }

  .hammasi-top {
    display: flex;
    gap: 20px;
    background: #f4f5f8;
    padding: 0 30px;
  }

  /* section header */
  .checkBtn {
    display: block;
    color: #a4b6ec;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 120px;
    left: -100%;
    background-color: white;
    text-align: center;
    transition: all 0.5s;
  }
  a {
    text-align: center;
  }
  nav ul li {
    display: block;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .logo > img {
    margin-left: -280%;
  }
  .content-row {
    display: flex;
    gap: 90px;
    flex-wrap: wrap;
  }

  .btn {
    line-height: 16px;
    padding: 8px 16px;
  }
}

@media (max-width: 689px) {
  .logo > img {
    margin-left: -220%;
  }
  .content-row {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
  }

  .content-all {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 650px;
    background-color: #f4f5f8;
    width: 100%;
  }

  .hammasi-bot {
    display: flex;
    padding: 30px 30px;
    gap: 10px;
  }

  .hammasi-top {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f4f5f8;
    padding: 0 30px;
  }

  .hammasi-all {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background: #f4f5f8;
    padding: 40px 0;
  }
}

@media (max-width: 500px) {
  .logo > img {
    margin-left: -150%;
  }
  .content-row {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }
  /* section header */
  .checkBtn {
    display: block;
    color: #a4b6ec;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 120px;
    left: -100%;
    background-color: white;
    text-align: center;
    transition: all 0.5s;
  }
  a {
    text-align: center;
  }
  nav ul li {
    display: block;
  }
  #check:checked ~ ul {
    left: 0;
  }

  /* section column */

  .column-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;

    border-radius: 20px;
    background: #202226;
    height: 504px;
  }
  .column-row {
    text-align: center;
  }
  input {
    background-color: #202226;
    border: none;
    outline: none;
    display: flex;
    width: 300px;
    height: 42px;
    padding-top: 16px;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
  }
  .all {
    width: 300px;
    height: 3px;
    background-color: #9f9f9f;
  }

  @media (max-width: 430px) {
    .logo > img {
      margin-left: -135%;
    }
    .content-row {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    .btn {
      line-height: 16px;
      padding: 8px 16px;
    }

    .column-row > h1 {
      width: 400px;
      color: white;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px;
    }
    .column-row > p {
      width: 400px;
      color: white;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    .hammasi-toplist > p {
      text-align: center;
    }

    .hammasi-row > h1 {
      text-align: center;
    }
    .hammasi-row > h4 {
      text-align: center;
    }
    .btn-2 {
      margin-left: 15%;
    }

    .hammasi-col {
      display: flex;
      align-items: center;
      padding: 30px 55px;
    }
  }
}

/* Khasimov R    ////////////////////////// */
